.index-content{
  margin-right: 2vw;
}

.tile-title{
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 1em;
  color: white;
  text-align: center;
  font-size: 2em;
}

.tile-content{
  background-color: rgba(0, 0, 0, 0.7); 
  height: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: white;
}

.vertical{
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 5%;
}

.mutuli{
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.mutuspan{ 
  font-size: 1em;
}

.mutuul{
  list-style: none;
  padding: 0;
  text-align: center;
}

.mutuh2{
  font-size: 2em;
  text-align: center;
}

.title-div{
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.h2index{
  text-align: center;
  font-size: 2em;
}

.tileRow{
  margin-top: 2%;
  display: flex;
  align-items: flex-end;
}

.tileSubRow{
  display: flex;
  align-items: flex-end;
}

.tile{
  padding:0vw;
  margin:0.5vw;
}

.Tileh2{
  text-align: center;
}

.indexRow{
  margin: 0 1em 0 2em;
}

.tile-text{
text-align: center;
font-family: Calibri;
font-size: 3em;
}