.index-content{
  margin-right: 2vw;
}

.tile-title{
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 1em;
  color: white;
  text-align: center;
  font-size: 2em;
}

.tile-content{
  background-color: rgba(0, 0, 0, 0.7); 
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
}

.vertical{
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 5%;
}

.mutu-li{
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.mutu-span{ 
  font-size: 1em;
}

.mutu-ul{
  list-style: none;
  padding: 0;
  text-align: center;
}

.mutu-h2{
  font-size: 2em;
  text-align: center;
}

.title-div{
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.index-h2{
  text-align: center;
  font-size: 2em;
}

.tileRow{
  margin-top: 2%;
  display: flex;
  align-items: flex-end;
}

.tileSubRow{
  display: flex;
  align-items: flex-end;
}

.tile{
  padding: 0;
  margin: 0.5em;
}

.tile-h2{
  text-align: center;
}

.index-row{
  margin: 0 1em 0 2em;
}

.tile-text{
  text-align: center;
  font-family: Calibri;
  font-size: 3em;
}