.imgTileIndex {
	width: 100%;
}

.cardRow {
	padding-bottom:1em;
}

.cardContainer{
	padding-top:1em;
	padding-left:4em;
	padding-right:4em;
}

/*--------------------*/
/* BAR */
/*--------------------*/

.img_bar1{
	float: left;
	width: 17.6%;
	margin-right: 0.5vw;
	height: auto;
}

.img_bar2{
	width: 100%;
	padding-bottom: 1vw;
}
