.imgTileIndex {
	width: 100%; 
	height: 13vw;
}

.cardRow {

	padding-bottom:1vw;
}
.cardContainer{
	padding-top:1vw;
	padding-left:4vw;
	padding-right:4vw;
}

/*--------------------*/
/* BAR */
/*--------------------*/

.img_bar1{
	float: left;
	width: 17.6%;
	margin-right: 0.5vw;
	height: auto;
}

.img_bar2{
	width: 100%;
	padding-bottom: 1vw;
}
