:root {
  --bluecolor: #2671C1;
  --whitecolor: #F5F5F5;
  --bluehovercolor: #004795;
  --footercolor: #083043;
  --tealhovercolor: #1BB4B4;
  --sitefont: Calibri;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.smnetwork{
    height: 30px;
    margin-bottom: 10px;
    background-color: var(--footercolor);
    font-family: Calibri;
}

.smtoggle{
    text-align: center;
    background-color: var(--footercolor);
    width: 100%;
}

#sidebar {
    width: 250px;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: var(--footercolor);
    color: var(--whitecolor);
    transition: all 0.3s;
    overflow-y: scroll;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--footercolor);
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: var(--whitecolor);
    color: var(--footercolor);
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: var(--footercolor);
}

.submenu{
    font-size: 1em;
    margin-left: 20px;
}

#sidebar ul.components {
    padding: 10px 0;
    border-bottom: 1px solid var(--tealhovercolor);
    width: 90%;
}

#sidebar ul p {
    color: var(--whitecolor);
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.2em;
    display: block;
    text-decoration: none;
    color: var(--whitecolor);
}

#sidebar ul li a:hover {
    color: var(--footercolor);
    background: var(--whitecolor);
}

#sidebar ul li.active>a,
#sidebar a[aria-expanded="true"] {
    color: var(--whitecolor);
    background: var(--footercolor);
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--footercolor);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#sidebar a.download {
    background: var(--whitecolor);
    color: var(--footercolor);
}

#sidebar a.article,
#sidebar a.article:hover {
    background: var(--tealhovercolor) !important;
    color: var(--whitecolor) !important;
}

