#body{
	font-family: Calibri;
	margin: 0 auto;
	background-color: #f8f5ef;
}

/*--------------------*/
/* NETWORK */
/*--------------------*/



.networkBar{
	height:2.5vw; 
	padding-top: 0.5vw;
	background-color: black;
	font-family: Calibri;
}


.networkul {
list-style-type: none; 
padding-left: 3vw;
}


.networkBar a{	
	color:#f8f5ef ;
	text-decoration: none;
}

.networkBar a:hover{	
	text-decoration: none;
}

.networkBarElement a:hover{	
	text-decoration: none;
	color: #1BB4B4;
}

.networkBarElement{
	float: left;
	display: block;
	padding-left: 0.8vw;
	padding-right: 0.8vw;
	font-size: 1vw;
	text-decoration: none;
}

.rightElement{

	float:right !important; 
	padding-right: 1.5vw;
	padding-left: 1.5vw;
}


.networkBarAnchor:hover{
	color: #1BB4B4;
	text-decoration: none;
}

/*--------------------*/
/* POPUP */
/*--------------------*/

.backgroundOverlay{
	background: rgba(0,0,0,0.8);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
    z-index: 5 ;
}

.popup{
    padding: 3rem;
	border: solid 0.05rem #1BB4B4;
	height: 35rem;
	width: 70rem;
    background-color: black;
 	margin: 0 auto;
 	margin-top: 10rem;
    z-index: 6 ;
}

.popupconnexionformulaire p {
    text-align: center;
}


.popupconnexionh2
{
    font-weight: bold;
    font-size : 35px;
    text-align : center;
    color: #f8f5ef;
}

.popupconnexionchamp
{
    /*background-color: black;
    color: grey;*/
    padding-left:10px;
    background-color: black;
    color: black;
    border: none;
	font-weight: bold;
	font-family: Calibri;
	border-bottom: 2px solid #1BB4B4;
	color: #f8f5ef;
}

.popupconnexionchamp:focus{
	text-decoration: none;
	border: 2px solid #1BB4B4;
	color: #f8f5ef;
}

#lieninscri{
	color: #f8f5ef;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.btn-form2{
	background-color: #1BB4B4;
	font-family: Calibri;
	padding: 1rem 2rem;
	border-radius: 20px;
	border: none;
	font-weight: bold;
	font-size: 1.5rem;
	color: white;
}

.btn-form2:hover{
	background-color: #039C9C;
}

.btn-form2 a{	
	font-weight: bold;
	font-size: 1.5rem;
	color: white;
}

.btn-form2 a:hover,
.btn-form2 a:visited{	
	font-weight: bold;
	font-size: 1.5rem;
	color: white;
	text-decoration: none;

}


/*--------------------*/
/* HEADER */
/*--------------------*/

.header-container{	
	position: relative;
	top: 0;
}

.header-container>img{
	width: 100%;
	height: auto;
	filter: brightness(80%);
	-webkit-filter: brightness(80%);
	z-index: 1;

}

.header-text {
	position: absolute;
	top: 2vw;
	z-index: 2;
	text-align: center;
	width: 100%;
}

.header-text h1 {
	font-size: 4.3vw;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	font-family:"Calibri";
}

.header-btn-area {

	position: absolute;
	z-index:2;
	top: 12.6vw;
	width: 100%;
	text-align: center;
}
.header-btn-area a {
	margin: 0% 1.5%;
}
.header-btn{
	border: 3px solid #fff;
	border-radius: 2px;
	color: #fff;	
	font-size: 1.176vw;	
	font-weight: bold;
	font-family: 'Calibri';
	text-transform: uppercase;
	padding: 1.4% 1.76%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.header-btn:hover,
.header-btn:focus{
	background-color: #1BB4B4;
	border-color: #1BB4B4;
	color: #fff;
	text-decoration: none;
	outline: none;
}

/*--------------------*/
/* NAVBAR */
/*--------------------*/

#nav{
	position: sticky;
	z-index: 4;
	padding-bottom: 0px;
	min-height: 0px;
	width: 100%;
	margin: 0 auto;
	top: 0px;
	border: #f8f8f8;
    box-shadow: 0vw 0vw 1vw 0vw black;
    border-radius: 0vw;
    height: 3.45vw;
}

nav ul{
	list-style-type: none;
	padding-left: 0;
	position: relative;/**/
	margin: 0 ;
}

nav ul li{
	float: left;
	width: 16.6666666666666%; /*Diviser 100 par nombre d'onglets visibles"*/
	text-align: center;
	position: relative;
}

nav ul::after{
	content: "";
	display: table;
	clear: both;
}

nav a{
	display: block;
	text-decoration: none;
	color: black;
	font-size: 0.9vw;
	text-transform: uppercase;
	font-family: Calibri;
	font-weight: bold;
	padding: 1vw 1vw;
	border-bottom: 0.2vw solid transparent;
}

nav a:hover{
	color: #1BB4B4;
	text-decoration: none;
	border-bottom: 0.2vw solid #1BB4B4;

	/*background-color: #1BB4B4;
	color: white;
	text-decoration: none;*/
}

.dropdown-content{
	display: none;
	box-shadow: 0px 1px 2px #CCC;
	background-color: #F8F8F8;
	position: absolute;
	width: 100%;
	z-index: 99999;
}

nav > ul li:hover .dropdown-content{
	display: block;
}

.dropdown-content li{

	width: 100%;	
	float: none;
	text-align: left;
	position: relative;
	z-index: 99999;
}

.dropdown-content a{
	padding: 0.5vw;
	border-bottom: none;
	text-transform: none;
}

.dropdown-content a:hover{
	border-bottom: none;
	background-color: rgba(200,200,200,0.1);
}

.dropdown > a::after{
	content:" ▼";
	font-size: 0.76vw;
}



.mystyle {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
  box-sizing: border-box;
}

nav a.active{
	background-color: #1BB4B4;
	color: white;
	text-decoration: none;
	/* AUTRE STYLE : 
	border-bottom: 3px solid #1BB4B4;
	color: #1BB4B4;
	text-decoration: none;*/
}



/*--------------------*/
/* CONTENT */
/*--------------------*/


.tab {
  float: left;
  background-color: #f8f5ef;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: #f8f5ef;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  padding-left: 3vw;
  padding-right: 3vw;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #F0EDE7;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #F0EDE7;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding-top: 1vw;
  border-left: none;
  margin-bottom: 2vw;
}

.tablinks{
	  font-weight: bold;
}

.title-area {
	display: inline;
	float: left;
	padding: 2vw 2vw;
	position: relative;
	text-align: center;
	width: 100%;
	margin-bottom: 0.176vw
}
.title {
	color: black;
	font-size: 3.5vw;
	margin-bottom: 0;
	padding-bottom: 0.3vw;
	text-align: center;
}
.title-line {
	background-color: black;
	display: inline-block;
	height: 0.176vw;
	margin-bottom: 0.3vw;
	width: 22vw;
}

.title-line3 {
	background-color: black;
	display: inline-block;
	height: 0.176vw;
	margin-bottom: 0.3vw;
	width: 17.6vw;
}

.title-line4 {
	background-color: black;
	display: inline-block;
	height: 0.176vw;
	margin-bottom: 0.3vw;
	width: 26vw;
}

.title-line2 {
	background-color: black;
	display: inline-block;
	height: 0.176vw;
	margin-bottom: 0.3vw;
	width: 5.3vw;
}


.bg1{
	background-color: #f8f5ef;
	width: 100%;
	font-family: Calibri;
}

.bg2{
	background-color: #EBFFFF;
	width: 100%;
	font-family: Calibri;
}

#content{
	background-color: #f8f5ef;
}

.text{
	font-size: 1.3vw;
	text-align: justify;
	padding-bottom: 1.76vw;
	margin-bottom: 0px;
}

.list{
	list-style-type: circle;
	font-size: 1.3vw;
	text-align: justify;
	margin-bottom: 1.1vw;
}

.list li{
	margin-bottom: 0.5vw;
}

.subtitle{
	color: black;
	font-size: 1.76vw;
	margin-bottom: 1vw;
	margin-top: 1vw;
	padding-bottom: 0.3vw;
	text-align: left;
	font-weight: bold;
}


.title2 {
	color: black;
	font-size: 3vw;
	margin-bottom: 0;
	padding-bottom: 0.3vw;
	text-align: center;
}

/*--------------------*/
/* CAROUSSEL */
/*--------------------*/

.carousel-inner img{
	width:100%;
}

#myCarousel{
	
	padding-top: 30vw;
	padding: 2vw;
	position: relative;
	float: left;
}

.carousel-control{
	top: 4vw;
	margin: 2vw; /*Mettre le même que le padding du #myCarousel*/
}


/*---------------------------*/
/* INSCRIPTION ET CONNEXION  */
/*---------------------------*/

.input-group {
  position: relative;
  margin-bottom: 30px;
}

.formulaire{
	margin-top: 1.76rem;
}

.inscription{
	margin-top: 3rem;
}

.champ{
	background-color: #f8f5ef;
	color: black;
	border: none;
	font-weight: bold;
	font-family: Calibri;
	border-bottom: 2px solid #ccc;
}

.champ:focus{
	text-decoration: none;
	border: 2px solid #1BB4B4;
}

/*--------------------*/
/* CONTACT */
/*--------------------*/


.bg-black{
	background-color: #000000 
}
.txt-white{
	color:#fff;
}

.mt{
	margin-top: 50px
}
	 

/*--------------------*/
/* FOOTER */
/*--------------------*/

.footer{
	background-color: black;
	width: 100%;
	padding: 1rem;
	padding-bottom: 0.5rem;
	padding-top: 1rem;
	color: #f8f5ef;
	box-shadow: 0vw 0vw 1vw 0vw black;
	font-family: Calibri;
	margin-top: 2rem;
}

.footerli {
	text-align: center;


}

.footera,
.footera:hover, 
.footera:visited {
	color:black;+
	text-decoration: none;
}

.mapouter{
	position:relative;
	text-align:right;
	height:25rem;
	width:20rem;
	margin: 2rem;
}

.gmap_canvas{
	overflow:hidden;
	background:none!important;
	height:25rem;
	width:20rem;
}

.link-foot{
	font-size: 2.5rem;
	color: #f8f5ef;
}

.link-foot:hover{
	font-size: 2.5rem;
	color: #1BB4B4;
}

.links-foot{
	margin-top: 13rem;
	text-align: center;
}




