/* BLEUSAILLE */

.img1{
	float:right;
	width: 60%;
	margin-left: 2vw;
	height: auto;
}

.img2{
	float: left;
	width: 60%;
	margin-right: 2vw;
	height: auto;
}

.title-line2 {
	background-color: black;
	display: inline-block;
	height: 0.176vw;
	margin-bottom: 0.3vw;
	width: 8vw;
}

.title2 {
	color: black;
	font-size: 3vw;
	margin-bottom: 0;
	padding-bottom: 0.3vw;
	text-align: center;
}

.title-line3 {
	background-color: black;
	display: inline-block;
	height: 0.176vw;
	margin-bottom: 0.3vw;
	width: 17.6vw;
}

.title-line4 {
	background-color: black;
	display: inline-block;
	height: 0.176vw;
	margin-bottom: 0.3vw;
	width: 26vw;
}

.title-line2 {
	background-color: black;
	display: inline-block;
	height: 0.176vw;
	margin-bottom: 0.3vw;
	width: 5.3vw;
}


.img3{
	float: left;
	width: 15%;
	margin-right: 2vw;
	height: auto;
}

/* CHANTS */

.chantdiv{
  cursor: pointer;
  font-weight: bold;
  font-size: 1.76rem;
  margin-bottom: 0.5rem;

}  

.chant{
  cursor: pointer;
  font-weight: bold;
  font-size: 1.76rem;
  margin-bottom: 0.5rem;

}

.active2, .chant:hover{
	color: #1BB4B4;
}

.content_chant{
	display: none;
  	overflow: hidden;
  	font-size: 1.66rem; 
  	padding:1rem;
  	background-color: #f8f5ef;
  	border: none;
}

#search{
	width: 25%;
	padding: 0.7rem;
	margin: 1.76rem;
	margin-bottom: 4rem;
	border-radius: 20px;
	margin-left: 4.5rem;
	border: 2px solid #1BB4B4;
}

audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}


audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:25px;
}

